:root {
    --primary-color: black;
    --secondary-color: white;
    --primary-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
    --box-shadow: rgba(56, 56, 66, 0.08) 0px 18px 18px 0;
   }
   body {
    margin-top: 0;
    padding: 0, 10px, 10px, 0px;
    font-family: var(--primary-font-family);
    background: radial-gradient(circle at 1.2% 5%, rgb(255, 94, 157) 34.7%, rgb(255, 78, 6) 92.3%);
   }
   h1,
   h2,
   h3,
   p {
    text-align: center;
    color: black;
    font-family: var(--default-font-family);
   }
   h1 {
    margin-top: -75px;
    padding-top: -50px;
   }
   p {
    font-size: 24px;
   }
   ol {
    font-family: var(--default-font-family);
    font-size: 17px;
   }
   .pagetop {
    padding: 200px 0px;
    padding-bottom: 10px;
   }
   .pagetop p {
    text-align: center;
   }
   .slider {
    height: 250px;
    margin: auto;
    position: static;
    width: 100%;
    display: grid;
    place-items: left;
    overflow: hidden;
   }
   .slide-track {
    display: flex;
    width: 250px;
    animation: scroll 25s linear running infinite;
   }
   .slide-track:hover {
    animation-play-state: paused;
   }
   .slide {
    height: 200px;
    display: flex;
    align-items: center;
    perspective: 100px;
    box-sizing: content-box;
    width: 1000px;
   }
   * {
    box-sizing: content-box;
   }
   .slider::before,
   .slider::after {
    content: "";
    height: 100%;
    position: static;
    width: 25%;
    z-index: 2;
   }
   .slider::before {
    left: 0;
    top: 0;
   }
   .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(100deg);
   }
 
   @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 9));
    }
   }
   .curLogo {
    width: 150px;
    padding: 30px;
    box-shadow: var(--box-shadow);
    transition: transform 1s;
   }
   .curLogo:hover {
    transform: translateZ(20px);
   }
   .navbar {
    border-bottom: 1px solid gainsboro;
   }
   .navbar-light .navbar-brand {
    color: black;
   }
   .navbar-light .navbar-nav .nav-link.active,
   .navbar-light .navbar-nav .show > .nav-link {
    color: black;
   }
   .navbar-light .navbar-nav .nav-link {
    color: black;
   }
   .navbar-light .navbar-nav .nav-link {
    color: black;
   }
   .navbar-toggler {
    border: none;
   }
   .nav-item {
    color: black;
   }
   .navbar-brand:hover {
    color: blue;
   }
   .btn-primary {
    background: orange;
    color: black;
    border: 1px solid rgba(101, 149, 211, 0.08);
    transition: background 500ms ease, border-color 200ms ease;
    padding: 1px 45px;
    margin: 0 auto;
    font-size: 16px;
    width: 250px;
    padding-inline: 10px;
   }
   .btn-primary:hover {
    background: red;
    color: white;
    border: none;
   }
   .social-media {
    width: 150px;
   }
   .social-media {
    height: 50%;
   }
   footer {
    margin: 60px 0;
   }
   footer .social-links a {
    margin: 0 20px;
    color: var(--branding-color);
    background: var(--secondary-color);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 100ms ease-in-out;
    height: 50%;
   }
    
   footer .social-links a:hover {
    color: white;
    background: var(--branding-color);
   }
   .footer-text {
    font-size: 12px;
   }
   #links-page {
    margin-top: 150px;
   }
   #links-page h1,
   h2,
   p {
    font-family: var(--default-font-family);
    text-align: left;
   }
   #links-page h2 {
    font-size: 23px;
   }
   #links-page p {
    font-size: 17px;
   }
                     
    
            